table {
    border-collapse: collapse;
    margin: 20px;
    font-size: 16px;
    border: 2px;
  }
  th {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  td {
    background-color:blanchedalmond;
    padding: 10px;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #D3D3D3;
  }

  tr:nth-child(odd) {
    background-color: #E8E8E8;
  }
 #factura{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5;
 }